{{#section 'css'}}
{{/section}}

<h1>μ„±μ  μ „μ²΄ λ¦¬μ¤νΈ μ…λ‹λ‹¤.π‚</h1>
<table>
    <tr>
        <th>ν•™μƒλ²νΈ</th>
        <th>μ΄λ¦„</th>
        <th>κµ­μ–΄</th>
        <th>μμ–΄</th>
        <th>μν•™</th>
        <th>λ“±λ΅μΌ</th>
    </tr>
<!--    λ³Έλ¬Έ λ¦¬μ¤νΈν–‰ μ‹μ‘-->
    {{#sjs}}
    <tr>
        <td>{{sjno}}</td>
        <td><a href="/viewsungjuk?sjno={{sjno}}">{{name}}</a></td>
        <td>{{kor}}</td>
        <td>{{eng}}</td>
        <td>{{math}}</td>
        <td>{{regdate}}</td>
    </tr>
    {{/sjs}}
</table>
